#!/usr/bin/make -f
# debian/rules makefile for limesurvey

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

PACKAGE = limesurvey
FILE = limesurvey200plus-build130708.tar.bz2
VERSION = 2.00plus-build130708

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs -X.svn -XCVS
	dh_install -XCVS -X.svn
	tar cpf - --exclude=debian --exclude=docs * | tar -C debian/limesurvey/usr/share/limesurvey -xpf -
	#Remove license files
	rm debian/limesurvey/usr/share/limesurvey/third_party/ckeditor/LICENSE.html
	rm debian/limesurvey/usr/share/limesurvey/third_party/kcfinder/doc/LICENSE.GPL
	rm debian/limesurvey/usr/share/limesurvey/third_party/kcfinder/doc/LICENSE.LGPL
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/markdown/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/bbq/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/adodb/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/htmlpurifier/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/jquery/maskedinput/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/jquery/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/jquery/treeview/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/jquery/autocomplete/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/gettext/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/cldr/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/json/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/LICENSE
	rm debian/limesurvey/usr/share/limesurvey/application/third_party/phpmailer/LICENSE
	rm debian/limesurvey/usr/share/limesurvey/application/third_party/simpletest/LICENSE
	rm debian/limesurvey/usr/share/limesurvey/application/third_party/tcpdf/LICENSE.TXT
	rm debian/limesurvey/usr/share/limesurvey/application/libraries/admin/http/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/scripts/admin/codemirror_ui/LICENSE
	rm debian/limesurvey/usr/share/limesurvey/scripts/admin/codemirror_ui/lib/CodeMirror-2.0/LICENSE
	rm debian/limesurvey/usr/share/limesurvey/scripts/jquery/jquery.actual/LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/vendors/jqueryui/MIT-LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/framework/web/js/source/jui/MIT-LICENSE.txt
	rm debian/limesurvey/usr/share/limesurvey/application/third_party/php-gettext/COPYING
	rm debian/limesurvey/usr/share/limesurvey/application/libraries/admin/gtranslate/COPYING
	#Remove fonts
	rm debian/limesurvey/usr/share/limesurvey/fonts/DejaVuSans.ttf
	rm debian/limesurvey/usr/share/limesurvey/fonts/FreeSans.ttf
	rm -f debian/limesurvey/usr/share/limesurvey/framework/web/widgets/captcha/Duality.ttf
	#place symlinks for fonts
	ln -s /usr/share/fonts/truetype/freefont/FreeSans.ttf \
		debian/limesurvey/usr/share/limesurvey/fonts/FreeSans.ttf
	ln -s /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf \
		debian/limesurvey/usr/share/limesurvey/fonts/DejaVuSans.ttf
	# we should use a better "captcha" font at some point
	ln -s /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf \
		debian/limesurvey/usr/share/limesurvey/framework/web/widgets/captcha/Duality.ttf
	# Remove tcpdf utils
	rm -rf debian/limesurvey/usr/share/limesurvey/application/third_party/tcpdf/fonts/utils
	#move modifiable dirs to var lib
	cd debian/limesurvey/usr/share/limesurvey && mv templates tmp upload $(CURDIR)/debian/limesurvey/var/lib/limesurvey
	cd debian/limesurvey/usr/share/limesurvey/application/config/ && mv *.php $(CURDIR)/debian/limesurvey/etc/limesurvey
	cp debian/config.php $(CURDIR)/debian/limesurvey/etc/limesurvey
	for file in $$(ls $(CURDIR)/debian/limesurvey/etc/limesurvey); do \
		ln -s /etc/limesurvey/$$file $(CURDIR)/debian/limesurvey/usr/share/limesurvey/application/config/$$file; \
	done
	# use Debian's jQuery
	for file in framework/web/js/source/jquery.min.js third_party/kcfinder/js/jquery.js framework/web/js/source/jquery.js scripts/jquery/jquery.js; do \
		rm debian/limesurvey/usr/share/limesurvey/$$file; \
		ln -s /usr/share/javascript/jquery/jquery.js debian/limesurvey/usr/share/limesurvey/$$file; \
	done
	rm debian/limesurvey/usr/share/limesurvey/framework/web/js/source/jquery.metadata.js
	ln -s /usr/share/javascript/jquery-metadata/jquery.metadata.js debian/limesurvey/usr/share/limesurvey/framework/web/js/source/jquery.metadata.js
	rm debian/limesurvey/usr/share/limesurvey/framework/web/js/source/jquery.cookie.js
	ln -s /usr/share/javascript/jquery-cookie/jquery.cookie.js debian/limesurvey/usr/share/limesurvey/framework/web/js/source/jquery.cookie.js
	rm debian/limesurvey/usr/share/limesurvey/scripts/jquery/jquery.tablesorter.min.js
	ln -s /usr/share/javascript/jquery-tablesorter/jquery.tablesorter.min.js debian/limesurvey/usr/share/limesurvey/scripts/jquery/jquery.tablesorter.min.js
	# use Debian's PHP libs
	rm -rf debian/limesurvey/usr/share/limesurvey/application/third_party/phpmailer/
	ln -s /usr/share/php/libphp-phpmailer debian/limesurvey/usr/share/limesurvey/application/third_party/phpmailer
	rm -rf debian/limesurvey/usr/share/limesurvey/application/third_party/php-gettext/
	ln -s /usr/share/php/php-gettext debian/limesurvey/usr/share/limesurvey/application/third_party/php-gettext
	rm -rf debian/limesurvey/usr/share/limesurvey/application/libraries/admin/pear/PEAR.php
	ln -s /usr/share/php/PEAR.php debian/limesurvey/usr/share/limesurvey/application/libraries/admin/pear/PEAR.php
	rm -rf debian/limesurvey/usr/share/limesurvey/application/helpers/adodb/adodb-time.inc_helper.php
	ln -s /usr/share/php/adodb/adodb-time.inc.php debian/limesurvey/usr/share/limesurvey/application/helpers/adodb/adodb-time.inc_helper.php
	# use Debian's ckeditor
	#rm -rf debian/limesurvey/usr/share/limesurvey/third_party/ckeditor/
	#ln -s /usr/share/javascript/ckeditor debian/limesurvey/usr/share/limesurvey/third_party/ckeditor
	# remove unneeded ckeditor files
	rm -rf debian/limesurvey/usr/share/limesurvey/third_party/ckeditor/_samples/
	rm -rf debian/limesurvey/usr/share/limesurvey/third_party/ckeditor/_source/
	# install db scripts
	install -D -m0644 installer/sql/create-pgsql.sql $(CURDIR)/debian/limesurvey/usr/share/dbconfig-common/data/limesurvey/install/pgsql
	install -D -m0644 installer/sql/create-mysql.sql $(CURDIR)/debian/limesurvey/usr/share/dbconfig-common/data/limesurvey/install/mysql
	# fix owners
	chown -R www-data:www-data debian/limesurvey/var/lib/limesurvey
	chown -R root:www-data debian/limesurvey/usr/share/limesurvey
	chown -R root:www-data debian/limesurvey/etc/limesurvey 

# Everything else is handled by dh_install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs -XCVS -X.svn
	dh_installexamples -X.svn
	dh_installchangelogs docs/release_notes.txt
	dh_installdebconf	
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	# fix owners and permissions
	chown -R www-data:www-data debian/limesurvey/var/lib/limesurvey
	chown -R root:www-data debian/limesurvey/usr/share/limesurvey
	chown -R root:www-data debian/limesurvey/etc/limesurvey
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install

binary-arch:


get-orig-source:
	mkdir -p get-orig-source
	cd get-orig-source && tar xaf ../${FILE} && mv limesurvey limesurvey-${VERSION}
	
	# remove non-free Duality font
	rm get-orig-source/limesurvey-${VERSION}/framework/web/widgets/captcha/Duality.ttf
	cp /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf get-orig-source/limesurvey-${VERSION}/framework/web/widgets/captcha/Duality.ttf

	# remove gartergrey admin style, contains non-free images
	rm -rf get-orig-source/limesurvey-${VERSION}/styles/gartergrey
	
	# clean the fonts
	mkdir -p get-orig-source/fontfiles
	# Copy php descriptions for core fonts
	grep -l 'type=.core.' get-orig-source/limesurvey-${VERSION}/application/third_party/tcpdf/fonts/*.php | xargs -I "__FILENAME__" mv __FILENAME__ get-orig-source/fontfiles/
	# Create suitable font files from Debian truetype fonts
	cd get-orig-source/limesurvey-${VERSION} && \
		../../debian/tcpdf-convertfont.sh /usr/share/fonts/truetype/unifont/unifont.ttf ../../get-orig-source/fontfiles && \
		for f in /usr/share/fonts/truetype/freefont/*.ttf; do ../../debian/tcpdf-convertfont.sh "$$f" ../../get-orig-source/fontfiles; done && \
		for f in /usr/share/fonts/truetype/ttf-dejavu/*.ttf; do ../../debian/tcpdf-convertfont.sh "$$f" ../../get-orig-source/fontfiles; done
	cp -a get-orig-source/limesurvey-${VERSION}/application/third_party/tcpdf/fonts/utils/ get-orig-source/fontfiles/
	rm -rf get-orig-source/limesurvey-${VERSION}/application/third_party/tcpdf/fonts/*
	cp -a get-orig-source/fontfiles/* get-orig-source/limesurvey-${VERSION}/application/third_party/tcpdf/fonts/

	# wipe away pear
	# this might break Excel export
	rm -rf get-orig-source/limesurvey-${VERSION}/application/libraries/admin/pear/PEAR.php
	rm -rf get-orig-source/limesurvey-${VERSION}/application/libraries/admin/pear/OLE

	# create tarball
	cd get-orig-source && tar caf ../limesurvey-${VERSION}+dfsg.tar.bz2 limesurvey-${VERSION}
	rm -rf get-orig-source
